.piyaday{
    width: 100px;
    background-color: yellowgreen;
    border-style: solid;
   
}


.piyaday1{
    width: 100px;
    background-color: yellow;
    border-style: solid;
}
.style{
    display: inline;
}
